<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Validation</title>
</head>

<body>
    <main>
        <h1>Enter a word:</h1>
        <section>
            <form action="/api/validateWord" method="post">
                <div>
                    <label for="req">What is your requested word?</label>
                    <input name="req">
                </div>
                <div>
                    <button>Submit</button>
                </div>
            </form>
        </section>
    </main>
</body>

</html>